@{ string _controller = ViewContext.RouteData.Values["controller"].ToString();
                string _action = ViewContext.RouteData.Values["action"].ToString();
                string link_img = "https://cafebiz.cafebizcdn.vn/162123310254002176/2023/1/12/img8131-1673489343601841949691-1673493899083-1673493899214412294037.jpeg"; }
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Title!=null?ViewBag.Title:"Quản lý KTX")</title>
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="~/Images/icon.jpg" />
    <link href="~/Content/animations.css" rel="stylesheet" />
    <link href="~/Content/sidebars.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">
                    <i class="fa-solid fa-house-laptop" id="master-icon"></i>
                    @(Session["isAdmin"] != null && (bool)Session["isAdmin"] ? "Quản lý KTX" : "Ký túc xá của tôi")
                </span>
            </a>

            <hr>

            <ul class="nav nav-pills flex-column mb-auto">
                @if (Session["isAdmin"] != null && (bool)Session["isAdmin"])
                {<!-- Admin Menu -->
                    <li class="mn-li">
                        <a class="nav-link mb-1" data-bs-toggle="collapse" data-bs-target="#t1" aria-expanded="false">
                            <i class="fa-solid fa-door-open me-2" style="font-size: 16px;"></i> <!-- Icon for Room Management -->
                            Quản lý phòng
                        </a>
                        <div class="collapse" id="t1">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="@Url.Action("", "Phong")" class="link-dark rounded">Danh sách phòng</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="mn-li">
                        <a class="nav-link mb-1" data-bs-toggle="collapse" data-bs-target="#t2" aria-expanded="false">
                            <i class="fa-solid fa-users me-2" style="font-size: 16px;"></i> <!-- Icon for Student Management -->
                            Quản lý học sinh
                        </a>
                        <div class="collapse" id="t2">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="@Url.Action("", "HocSinh")" class="link-dark rounded">Danh sách học sinh</a></li>
                                <li><a href="@Url.Action("", "HocSinh", new {stt = true})" class="link-dark rounded">Học sinh chưa xếp phòng</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="mn-li">
                        <a class="nav-link mb-1" data-bs-toggle="collapse" data-bs-target="#t3" aria-expanded="false">
                            <i class="fa-solid fa-plug me-2" style="font-size: 16px;"></i> <!-- Icon for Utilities Management -->
                            Quản lý điện, nước
                        </a>
                        <div class="collapse" id="t3">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="@Url.Action("", "DienNuoc")" class="link-dark rounded">Danh sách phiếu</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="mn-li">
                        <a href="#" class="nav-link mb-1" data-bs-toggle="collapse" data-bs-target="#t5" aria-expanded="false">
                            <i class="fa-solid fa-file-invoice me-2" style="font-size: 16px;"></i> <!-- Icon for Bills Management -->
                            Quản lý hóa đơn
                        </a>
                        <div class="collapse" id="t5">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="@Url.Action("", "HoaDon")" class="link-dark rounded">Danh sách hóa đơn</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="mn-li">
                        <a href="@Url.Action("Index", "TaiKhoan")" class="nav-link mb-1">
                            <i class="fa-solid fa-user-cog me-2" style="font-size: 16px;"></i> <!-- Icon for Account Management -->
                            Quản lý tài khoản
                        </a>
                    </li>
                }
                else
                { <!-- Student Menu (Non-Admin) -->
                    <li class="mn-li">
      <a href="@Url.Action("Details", "Phong", new { id = Session["maphong"] })" class="nav-link mb-1">
          <i class="fa-solid fa-door-closed me-2" style="font-size: 16px;"></i> <!-- Icon for Room Info -->
          Xem thông tin phòng
      </a>
  </li>

                    <li class="mn-li">
                        <a href="@Url.Action("", "HoaDon")" class="nav-link mb-1">
                            <i class="fa-solid fa-file-invoice me-2" style="font-size: 16px;"></i> <!-- Icon for Bill -->
                            Hóa đơn
                        </a>
                    </li>

                    <li class="mn-li">
                        <a href="@Url.Action("", "ThongBao")" class="nav-link mb-1">
                            <i class="fa-solid fa-bell me-2" style="font-size: 16px;"></i> <!-- Icon for Notifications -->
                            Thông báo - Phiếu hỗ trợ
                        </a>
                    </li>
                }
            </ul>

            <hr>

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@link_img" alt="" width="32" height="32" class="rounded-circle me-2">
                    @{
                        var _name = "ADMIN";
                        if (Session["user_id"] != null)
                        {
                            var _uid = int.Parse(Session["user_id"].ToString());
                            var data = new Web.Models.Context().TAIKHOANs.FirstOrDefault(x => x.matk == _uid);
                            if (data != null)
                            {
                                _name = data.hoten;
                            }
                        }
                    }
                    <strong>@_name</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="@Url.Action("", "ThongTinTaiKhoan")">Thông tin tài khoản</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="@Url.Action("", "LogOut")">Đăng xuất</a></li>
                </ul>
            </div>

        </div>


        <div class="b-example-divider"></div>
        <div class="container px-4 py-3">
            @RenderBody()

            @{ if (ViewBag.Msg != null)
                {
    <p class="ViewBag-Msg"><i class="fa-solid fa-flag"></i> @ViewBag.Msg</p> } }


            @if (ViewBag.TotalPage != null && ViewBag.TotalPage > 1)
            {
<nav>
    <ul class="pagination">
        <li class="page-item @(ViewBag.CurrentPage==1?"disabled":"")">
            <a class="page-link" href="@Url.Action(_action,_controller, new {page = ViewBag.CurrentPage-1, stt=ViewBag.Stt})" tabindex="-1"><i class="fa-solid fa-backward"></i> Trước</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
<li class="page-item @(ViewBag.CurrentPage==i?"active":"")">
    <a class="page-link" href="@Url.Action(_action,_controller, new {page = i, stt=ViewBag.Stt})">@i</a>
</li>
}
        <li class="page-item @(ViewBag.CurrentPage==ViewBag.TotalPage?"disabled":"")">
            <a class="page-link" href="@Url.Action(_action,_controller, new {page = ViewBag.CurrentPage+1, stt=ViewBag.Stt})"><i class="fa-solid fa-forward"></i> Sau</a>
        </li>
    </ul>
</nav>      }

        </div>

    </main>





</body>
</html>
<script>
    (function () {
        'use strict'
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>

<script>
    $(document).ready(function () {
        $("li.mn-li").click(function () {
            var stt = ($(this).children("a").hasClass('active'))
            $("li.mn-li").each(function () {
                $(this).children("a").removeClass("active");
            })
            if (stt)
                $(this).children("a").removeClass("active");
            else
                $(this).children("a").addClass("active");
        })
        $("[e-type='delete']").click(function () {
            var c = confirm("Bạn có muốn xóa bản ghi này?");
            if (c) {
                var _id = $(this).attr("e-id");
                $(this).attr('href',"/@_controller/Delete/" + _id + "@(ViewBag.Stt!=null?ViewBag.Stt==true? "?stt=True" : "?stt=False" : "")");
            }
        })

        $("[e-type='edit']").click(function () {
            var _id = $(this).attr("e-id");
            $(this).attr('href',"/@_controller/Edit/" + _id + "@(ViewBag.Stt!=null?ViewBag.Stt==true? "?stt=True" : "?stt=False" : "")");
        })

        $("[e-type='detail']").click(function () {
            var _id = $(this).attr("e-id");
            $(this).attr('href',"/@_controller/Details/" + _id +"@(ViewBag.Stt!=null?ViewBag.Stt==true? "?stt=True" : "?stt=False" : "")");
        })

        $("[e-type='create']").click(function () {
            $(this).attr('href',"/@_controller/Create/"+"@(ViewBag.Stt!=null?ViewBag.Stt==true? "?stt=True" : "?stt=False" : "")");
        })
    })
</script>

@{ if (_controller.ToLower() == "home" && _action.ToLower() == "index")
                {
    <script>
        $(document).ready(function () {
            $("#master-icon").addClass("bounce-in-fwd");
        })
        $(".nav-link>svg").each(function () {
            $(this).addClass("swirl-in-fwd");
        })
        $(".nav-link").each(function () {
            $(this).addClass("slide-in-blurred-left");
        })
    </script> } }
