@model Web.Models.PHONG

@{
    ViewBag.Title = "Tạo phòng mới";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <h2 class="mt-4"><i class="fa-solid fa-house-chimney"></i> Tạo phòng mới</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.tenphong, "Tên phòng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tenphong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tenphong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.tsogiuong, "Số giường", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.tsogiuong, new SelectList(new[] { 2, 4, 8 }), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tsogiuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.tang, "Tầng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tang, "", new { @class = "text-danger" })
                </div>
            </div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
    </div>
}

<div>
    <i class="fa-regular fa-square-caret-left"></i> @Html.ActionLink("Quay lại", "Index")
</div>


<script>
    $(document).ready(function () {
        $("#tsogiuong").change(function () {
            if (Number($(this).val()) > 10) {
                alert("Số giường không được quá 10 giường!");
                $(this).val('1')
            }
        })
    })
</script>
